.portfolio {

    width: 90%;
    display: inline-flex;
    margin-top: 5vh;
    align-items: center;
    overflow-y: scroll;
    height: 40vh;
    transition: opacity;

    background: linear-gradient(117.71deg, rgba(255, 255, 255, 0.297) 6.61%, rgba(255, 255, 255, 0.045) 74.56%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;

    animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0%
  }
  100% {
    opacity: 100%
  }
}